.box{margin-right: 20px; display: inline-block; *display: inline; zoom: 1; vertical-align: middle;}
.box1{margin-right: 20px; display: inline-block; *display: inline; zoom: 1; vertical-align: top;}
.box1 table{margin-top: 50px;}
.scripts{width: 400px;}
